h2 {
  text-align: center;
}

.lista-container {
  max-width: 600px;
  margin: 20px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}
